<!DOCTYPE html>

<html>
<head>
    <title>Hive Details</title>
</head>
<body>
    <div>
    <h1>This is the Hive page</h1>
    <h3>Hive ID:</h3>
    <form action="action_page.php" method="POST">
    <div>
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" placeholder="Nickname" required>    
        <label for="install_date">&emsp;Install date:</label>
        <input type="date" id="install_date" name="install_date">
    </div>
    <br>
    <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" placeholder="Location">
        <label for="latitude">&emsp;Latitude:</label>
        <input type="text" id="latitude" name="latitude" placeholder="00.000000">
        <label for="longitude">&emsp;Longitude:</label>
        <input type="text" id="longitude" name="longitude" placeholder="-00.000000">
        <a href="https://gps-coordinates.org/" target="_blank">Lat/Long Search</a>
        <!-- <form action="https://gps-coordinates.org">
            <input type="submit" value="Find my lat/long" />
        </form> -->
    
    <div>
        <br>
        <label for="depth">Main body depth:</label>
            <select id="depth" name="depth">
                <option value="none"></option>
                <option value="deep">Deep</option>
                <option value="medium">Medium</option>
                <option value="shallow">Shallow</option>
            </select>

        <label for="frames">&emsp;Frames:</label>
        <label for="8">8</label>
        <input type="radio" id="8" name="frames" value="8">
        <label for="10">10</label>
        <input type="radio" id="10" name="frames" value="10" checked>

        <label for="active">&emsp;Active?:</label>
        <label for="Yes">Yes</label>
        <input type="radio" id="Yes" name="active" value="Yes" checked>
        <label for="No">No</label>
        <input type="radio" id="No" name="active" value="No">

        <label for="breed">&emsp;Breed:</label>
            <select id="breed" name="breed">
                <option value="italian">Italian</option>
                <option value="buckfast">Buckfast</option>
                <option value="caucasian">Caucasian</option>
                <option value="carniolan">Carniolan</option>
                <option value="german">German</option>
                <option value="russian">Russian</option>
            </select>
        <label for="removal_date">&emsp;Removal date:</label>
        <input type="date" id="removal_date" name="removal_date">
    </div>
    <br>
    <div>
        <label for="notes">Notes:</label>
        <br>
        <textarea id="notes" name="notes" rows="4" cols="50">
        </textarea>
    </div>
    <br>
    <div>
        <input type="reset">
        <input type="submit">
    </div>
</form>
</div>
</body>
</html>